# form for new and editing clients. trainers will has this ability.

<h1> Add a New Client here! </h1>

<%= form_for(@client) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br> 
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
    <br>
    <%= f.label :height %>
    <%= f.