# will show the details of a specific client. trainers should only be able 
# to delete and edit their own clients.
<ul>
<li> <%= @client.name %> </li>
<li> <%= @client.age %> </li>
<li> <%= @client.height %> </li>
<li> <%= @client.initial_weight %> </li>
<li> <%= @client.phone_number %> </li>
<li> <%= @client.email %> </li>
<li> <%= @client.gender %> </li>
<li> <%= @client.current_weight %> </li>
<li> <%= @client.goal_weight %> </li> 
</ul>
<br>
<br>

<h4> <%= @client.name %>'s appointments </h4>

<% @client.appointments.each do |app| %>
   <%= link_to app.appointment_time.strftime("%A %B %e, %Y %l:%M %p"), appointment_path(app) %>
   <% end %>
<br>

<%= button_to "Add an Appointment", new_client_appointment_path(@client), method: :get %>
<br>

<%= button_to "Edit Client", edit_client_path(@client), method: :get %>
<br>

<%= button_to "Delete Client", client_path(@client), method: :delete %>
