# show a trainer's specific page with its specific clients and appointments.

<h2> Welcome, <%= @trainer.name %> </h2>

<p> Your info: </p>
  <p> Name: <%= @trainer.name %> </p>
    <br>
    <% if @trainer.provider == "" %>
  <p> Email: <%= @trainer.email %> </p>
    <% else %>
  <p> Signed in from Facebook </p>
    <% end %>  
    <br>
  <p> Bio: <%= @trainer.bio %> </p>


    <br>
    <br>

    <%= link_to "See all your clients!", trainer_clients_path(@trainer) %> <br>
    <%= link_to "Add a new client here!", new_trainer_client_path(@trainer) %> <br>
    <%= link_to "Edit your profile here!", edit_trainer_path(@trainer) %> <br>
    
